<%- contentFor('title') %>
    لیست دسته بندی ها
    <%- contentFor('body') %>
        <!-- Card Sextion Starts Here -->
        <div style="flex:2">

            <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                <!-- card -->

                <div class=" rounded overflow-hidden shadow bg-white mx-2 w-full">
                    <div class="px-6 py-2 border-b border-light-grey">
                        <div class="font-bold text-xl rtl">لیست دسته بندی ها</div>
                    </div>
                    <div class="table-responsive">
                        <table class=" rtl table text-grey-darkest">
                            <thead class="bg-grey-dark text-white text-normal">
                                <tr>
                                    <th scope="col">شماره</th>
                                    <th scope="col">نام دسته بندی</th>
                                    <th scope="col">نقش دسته بندی</th>
                                    <th scope="col">وضعیت</th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(categories.docs.length> 0){%>
                                    <% categories.docs.forEach((category, index)=>{%>
                                        <tr>
                                            <th scope="row"><%- index +1 %></th>

                                            <td>
                                                <p class="rtl text-sm "><%-category.title %></p>
                                            </td>
                                            <td>
                                              
                                            <% if(category.parent.length){%>
                                                <% for(cat of category.parent){%>
                                                    <span><%- cat.title%></span>    
                                                   
                                                <%} %>     
                                            <%}else{%>
                                                <span>دسته بندی اصلی</span>      
                                            <%}%>
                                                
                                            </td>
                                            <td>
                                                <% if(category.valid){%>
                                                    <span>✅</span>
                                                <%}else{%>
                                                    <span>❌</span>    
                                                <%} %>
                                               
                                            </td>
                              
                                            <td>
                                                <div class="flex flex-row justify-center items-center ">
                                                    <div>
                                                        <form method="post" action="/panel/categories/delete/<%- category.slug %>">
                                                            
                                                            <button type="submit"
                                                                class="px-4 py-2 bg-red-500 text-center text-white rounded-sm ml-1">حذف</button>
                                                        </form>
                                                    </div>
                                                    <div>
                                                        <button class="px-4 py-2 bg-blue-500 text-center text-white rounded-sm">
                                                            <a href="/panel/categories/edite/<%- category.slug%>">ویرایش</a>
                                                        </button>
                                                    </div>

                                                </div>
                                            </td>



                                        </tr>

                                    <%})%>


                                <%} %>



                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /card -->

            </div>

            <%- include('../pagination/index',{obj:categories, url:'/panel/categories'}) %>
        </div>

        <!-- /Cards Section Ends Here -->