
<div class="container pb-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">مقالات مشابه</h2>
  
    <div class="sm:grid sm:grid-cols-3  md:grid md:grid-cols-4 gap-6">
        <% for(let blog of relatedBlogs){%>
            
            <div class="max-h-[400px] bg-white shadow rounded overflow-hidden group flex flex-col justify-between">
                <div class="relative">
                    <img src="<%- blog.image%>" alt="<%- blog.title%>" class="w-full">
                    
                </div>
                <div class="pt-4 pb-3 px-4">
                    <a href="/blog/<%- blog.slug%>">
                        <h4 class="uppercase font-medium text-md mb-2 text-gray-800 hover:text-primary transition"><%- blog.title.substr(0, 20)%>...</h4>
                    </a>
                    <% if(blog.isSpecial){%>
                        <div class="">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            </div>
                            <div class="text-md text-gray-500 ml-3">مخصوص اعضای ویژه</div>
                        </div>
                        
                    <%}else{%>
                        رایگان    
                    <%} %>
                </div>
                <a href="/blog/<%- blog.slug%>" class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">مشاهده</a>
            </div>
        <%} %>
       
    </div>
</div>